---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//colors
$teal: #1DC9A0;
$light-gray: #F3F3F3;
$dark-gray: #797979;
$dark-blue: #282930;

//fonts
$open-sans: 'Open Sans', sans-serif;
$light-weight: 300;
$normal-weight: 400;
$bold-weight: 600;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"      
;
