---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//colors
$teal: #1DC9A0;
$light-gray: #F3F3F3;
$dark-gray: #797979;
$dark-blue: #282930;

//fonts
$open-sans: 'Open Sans', sans-serif;
$regular-weight: 300;
$bold-weight: 600;

// sizes
$h1-size: 48px;
$h2-size: 28px;
$p-size: 18px;
$small-size: 15px;

$block-spacer: 50px;

// Width of the content area
$content-width:      93%;
$content-max-width:  1200px;

// media queries
$mobile-width:  91%;
$mobile-break:  600px;


@mixin mobile {
  @media screen and (max-width: $mobile-break) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $mobile-break + 1) {
    @content;
  }
}

@include mobile {
  #all {
    width: $mobile-width;
  }
  header {
    padding: 23px 0 28px 0;
  }

  h1 {
    margin: 15px 0;
    font-size: 42px;
    line-height: 55px;
  }
  .hero {
    .subhero {
      width: 100% !important;
    }
    svg {
      margin-top: 40px;
    }
  }
  .subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .big-spacer {
    margin: $block-spacer*1.5 0;
  }
  #gradient-hero {
    padding-top: 100px;
    padding-bottom: $block-spacer;
    .subtitle {
      width: $mobile-width;
    }
    button {
      margin-top: 35px;
    }
  }
  .double-column {
    flex-wrap: wrap;
    section {
      width: 100%;
      margin-bottom: 50px;
      button {
        margin-top: 25px;
      }
      p {
        margin: 0;
      }
    }
  }
  #high-margin {
    padding-top: 50px;
  }
  .big-picture {
    padding: 50px 0;
    .subtitle {
      width: 100%;
    }
    .double-column {
      margin-top: 25px;
    }
  }
  .scale-content {
    width: 100%;
    margin-bottom: 50px;
  }
  .tags {
    width: 70%;
  }
}

@include desktop {
  #all {
    width: $content-width;
  }
  header {
    padding: 50px 0 55px 0;
  }
  h1 {
    margin: 20px 0;
    font-size: $h1-size;
    line-height: 55px;
  }
  .hero {
    .subhero {
      width: 66%;
    }
  }
  .subtitle {
    font-size: 20px;
    line-height: 35px;
  }
  .big-spacer {
    margin: $block-spacer*3 0;
  }
  #gradient-hero {
    justify-content: center;
    min-height: 90vh;
    .subtitle {
      width: 66%;
    }
    button {
      margin-top: $block-spacer;
    }
  }
  .double-column {
    section {
      width: 35%;
    }
  }
  #high-margin {
    margin-bottom: 87px;
    padding-top: 87px;
  }
  .big-picture {
    padding: 75px 0;
    .subtitle {
      width: 66%;
    }
    .double-column {
      margin-top: 60px;
      section p {
        margin: 25px 0;
      }
    }
  }
  .scale-content {
    width: 66%;
  }
  .quotes {
    column-count: 2;
    column-gap: 10px;
  }
  .tags {
    width: 25%;
  }
  .questions {
    width: 66%;
    padding-top: 60px;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "index",
  "header",
  "footer",
  "menu",
  "page"
;
