---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//colors
$teal: #1DC9A0;
$light-gray: #F3F3F3;
$dark-gray: #797979;
$dark-blue: #282930;

//fonts
$open-sans: 'Open Sans', sans-serif;
$regular-weight: 300;
$bold-weight: 600;

// sizes
$h1-size: 48px;
$h2-size: 28px;
$p-size: 18px;
$small-size: 15px;

$block-spacer: 50px;

// Width of the content area
$content-width:      93%;
$content-max-width:  1200px;

// media queries
$mobile-width:            600px;

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $mobile-width + 1) {
    @content;
  }
}

@include mobile {
  header {
    padding: 23px 0 28px 0;
    width: 97%;
  }
  .hero {
    .subhero {
      width: 100% !important;
    }
  }
  .subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .big-spacer {
    margin: $block-spacer*1.5 0;
  }
  .gradient-hero {
    padding-top: 90px;
  }
}

@include desktop {
  header {
    padding: 50px 0 55px 0;
    width: 100%;
  }
  .hero {
    .subhero {
      width: 66%;
    }
  }
  .subtitle {
    font-size: 20px;
    line-height: 35px;
  }
  .big-spacer {
    margin: $block-spacer*3 0;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "index",
  "header",
  "footer",
  "menu",
  "page"
;
