<footer>
    <div id="footer-wave"></div>
    <span>Powered by DSI4EU</span>
    <span>with
      <a href="http://www.nesta.org.uk/" target="_blank">NESTA</a>, <a href="http://waag.org/en" target="_blank">WAAG</a>, <a href="http://www.supsi.ch" target="_blank">SUPSI</a>.
    </span>
    <a id="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="blank">
      <img class="svg" src="{{ site.baseurl }}/assets/license.svg" alt="license">
    </a>
</footer>
<script src="https://cdn.rawgit.com/ironwallaby/delaunay/master/delaunay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/p5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/pace.min.js"></script>
<script src="{{ site.baseurl }}/js/dsi.js" type="text/javascript"></script>
