<footer>
    <div id="footer-wave"></div>
    <span>Powered by DSI4EU</span>
    <span>with
      <a href="#">NESTA</a>, <a href="#">WAAG</a>, <a href="#">SUPSI</a>.
    </span>
    <a id="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="blank">
      <img class="svg" src="{{ site.baseurl }}/assets/license.svg" alt="license">
    </a>
</footer>
<script src="{{ site.baseurl }}/js/pace.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript">

//hamburger menu
$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
   $('#light-logo').toggleClass('fade');
   $('#dark-logo').toggleClass('fade');
  });

//Replace all SVG images with inline SVG
jQuery('img.svg').each(function(){
  var $img = jQuery(this);
  var imgID = $img.attr('id');
  var imgClass = $img.attr('class');
  var imgURL = $img.attr('src');

  jQuery.get(imgURL, function(data) {
      // Get the SVG tag, ignore the rest
      var $svg = jQuery(data).find('svg');

      // Add replaced image's ID to the new SVG
      if(typeof imgID !== 'undefined') {
          $svg = $svg.attr('id', imgID);
      }
      // Add replaced image's classes to the new SVG
      if(typeof imgClass !== 'undefined') {
          $svg = $svg.attr('class', 'replaced-svg');
      }

      // Remove any invalid XML tags as per http://validator.w3.org
      $svg = $svg.removeAttr('xmlns:a');

      // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
      if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
          $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
      }

      // Replace image with new SVG
      $img.replaceWith($svg);

  }, 'xml');
});

//autogrow input
function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
}

/* QUESTIONS FOCUS */

//keyboard focus
$("textarea").focus(function() {
  $("body").find(".active").removeClass("active")
  $(this).parent().addClass("active")
})

//smooth scroll
$(".question textarea").focus(function() {
  $('html, body').animate({
        scrollTop: $(this).parent().offset().top - 100
    }, 400);
})

//keyboard focusout
$("textarea").focusout(function() {
  $(this).parent().removeClass("active")
})

//mouseclick
$(".question").click(function(){
  $(".active").removeClass("active")
  $(this).addClass("active")
  $(this).find("textarea").focus()
})

$(".indicator-input").hide()
$(".define-link").click(function() {
  $(this).parent().parent().find(".indicator-input").fadeIn()
  $(this).hide()
})

$(".indicator-send").click(function(){
  $(this).parent().parent().fadeOut()
})

</script>
