<header>
  <a href="{{ site.url }}">
    <img id="dark-logo" class="svg" src="{{ site.url }}/assets/darkLogo.svg" alt="dark-logo">
  </a>
  <div class="hamburger-menu" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
</header>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a class="img" href="#">About</a></li>
      <li><a class="img" href="#">DSI Scale</a></li>
      <li><a class="img" href="#">Knowledge</a></li>
    </ul>
  </nav>
</div>
