<header>
  <a href="{{ site.baseurl }}">
    <img id="dark-logo" class="svg" src="{{ site.baseurl }}/assets/darkLogo.svg" alt="dark-logo">
  </a>
  <div class="hamburger-menu" id="toggle">
    <span class="dark top"></span>
    <span class="dark middle"></span>
    <span class="dark bottom"></span>
  </div>
</header>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="{{ site.baseurl }}/about"><span>About</span></a></li>
      <li><a href="{{ site.baseurl }}/scale"><span>DSI Scale</span></a></li>
      <li><a href="{{ site.baseurl }}/knowledge"><span>Peer Knowledge</span></a></li>
      <li><a href="{{ site.baseurl }}/case-studies"><span>Case studies</span></a></li>
      <li><a href="{{ site.baseurl }}/resources-tools"><span>Resources</span></a></li>
      <li><a href="{{ site.baseurl }}/workshops"><span>Workshops</span></a></li>
    </ul>
  </nav>
</div>
