.gradient-hero
  position: absolute
  left: 0
  top: 0
  width: 100vw
  height: 90vh
  background-image: linear-gradient(-134deg, #7421D6 0%, #26C6A3 100%)
  display: flex
  flex-direction: column
  justify-content: center
  // align-content: center
  color: $light-gray !important
  .subtitle
    width: 66%
    margin: 0 auto
    opacity: 0.7
  button
    color: $light-gray
    border-color: $light-gray
    margin-top: $block-spacer

.high-margin
  margin-top: 75vh

.double-column
  display: flex
  justify-content: space-around
  section
    text-align: center
    width: 35%
    p
      margin: 25px 0
      line-height: 31px
      color: $dark-gray
