.hero
  width: 100%
  .subhero
    width: 66%
    color: $dark-gray
  img
    width: 90px

.centered-text
  .light
    margin-top: -16px
  .subhero
    margin: 0 auto 30px auto

.block
  margin: $block-spacer 0

.tags
  color: $teal
  display: flex
  width: 25%
  margin: $block-spacer auto
  justify-content: space-between
  font-weight: 600

.quotes
  width: 100%
  margin: $block-spacer auto
  column-count: 2
  column-gap: 10px
  .container
    padding-bottom: 10px
    .quote
      background: $dark-blue
      text-align: center
      border-radius: 3px
      padding: 10px
      -webkit-column-break-inside: avoid
      page-break-inside: avoid
      break-inside: avoid
      p
        color: white
      .epithet
        margin-top: -8px
      .line-divider
        height: 1px
        width: 26px
        margin: 0 auto
        background: white
.questions
  width: 66%
  padding-top: 40px
  .active
    opacity: 1 !important
    transform: scale(1) !important
  .question
    margin-bottom: 100px
    &:last-child
      margin-bottom: 20px
    transition: opacity .25s ease, transform .25 ease
    opacity: 0.4
    transform: scale(0.995)
    .description
      color: $dark-gray
      margin-top: -10px
    textarea
      height: 40px
      // transition: height .5s !important
      width: 100%
      outline: none
      color: $dark-blue
      background: transparent
      border: 0
      border-bottom: 3px solid $dark-blue
