.hero
  width: 100%
  text-align: center
  .subhero
    width: 66%
    margin: 0 auto 30px auto
    color: lighten($dark-blue, 30%)
  img
    width: 90px

.centered-text
  .light
    margin-top: -16px

.block
  margin: $block-spacer 0

.tags
  color: $teal
  display: flex
  width: 25%
  margin: $block-spacer auto
  justify-content: space-between
  font-weight: 600

.quotes
  width: 100%
  margin: $block-spacer auto
  column-count: 2
  column-gap: 10px
  .container
    padding-bottom: 10px
    .quote
      background: $dark-blue
      text-align: center
      border-radius: 3px
      padding: 10px
      -webkit-column-break-inside: avoid
      page-break-inside: avoid
      break-inside: avoid
      p
        color: white
      .epithet
        margin-top: -8px
      .line-divider
        height: 1px
        width: 26px
        margin: 0 auto
        background: white
