.large-image
  svg
    height: 60px !important

.hero
  width: 100%
  .subhero
    color: $dark-gray

  svg
    height: 50px
  #scale
    stroke: #000000

.centered-text
  .light
    margin-top: -16px
  .subhero
    margin: 0 auto 30px auto

.block
  margin: $block-spacer 0

.small-block
  margin: ($block-spacer * 0.7) 0

.tags
  color: $teal
  display: flex
  margin: $block-spacer auto
  justify-content: space-between
  font-weight: 600

.bold
  font-weight: bold
  color: $dark-blue !important
  margin-bottom: 0
  margin-top: 30px

.quotes
  width: 100%
  margin: $block-spacer auto
  .container
    padding-bottom: 10px
    .quote
      background: $dark-blue
      transition: background 0.3s ease
      border-radius: 3px
      padding: 10px 27px
      -webkit-column-break-inside: avoid
      page-break-inside: avoid
      break-inside: avoid
      p, h2, span, textarea
        color: $light-gray
      h2
        font-weight: $regular-weight
      p
        font-weight: $light-weight
      .epithet
        margin-top: -8px
      .line-divider
        height: 1px
        width: 26px
        margin: 0 auto
        background: $light-gray
      .indicator
        &:first-of-type
          margin-top: 40px
        display: flex
        opacity: 0.4
        transform: scale(0.99)
        margin-bottom: 30px
        transition: opacity .25s ease, transform .25s ease
        textarea
          height: 1.5em
          font-size: $p-size
          font-family: $open-sans
          font-weight: $regular-weight
          border-bottom: 2px solid $light-gray
          margin-left: 7px
          line-height: 28px
        p
          margin-top: 5px
      button
        margin: 10px 0 30px 0
        border-color: $light-gray
        color: $light-gray

.questions
  .question
    margin-bottom: 100px
    &:last-child
      margin-bottom: 20px
    transition: opacity .25s ease, transform .25 ease
    opacity: 0.4
    transform: scale(0.995)
    .description
      color: $dark-gray
      margin-top: -10px

.active
  opacity: 1 !important
  transform: scale(1) !important

#knowledge-spinner
  display: none
  > div
    background-color: $teal

.scale-spinner
  display: none
  > div
    background-color: $light-gray

// scale
.scale-content
  p, ol
    line-height: 31px
    color: $dark-gray
  h2
    color: $dark-blue

//case studies
.cases
  margin-bottom: $block-spacer
.blog
  h3
    color: $dark-blue
    margin-top: $block-spacer
  p, ul
    margin: $block-spacer*0.3 auto
    line-height: 31px
    color: $dark-gray
  p img
    margin: $block-spacer 0
  .openness
    background: $dark-blue
    transition: background 0.3s ease
    border-radius: 3px
    padding: 10px 27px
    margin: 0 auto
    margin-top: $block-spacer
    h2
      color: $light-gray
      display: flex
      // &:before
      //   background-image: url('../assets/open-source.svg')
      //   background-size: 34px 33px
      //   width: 34px
      //   height: 33px
      //   content: ""
      //   margin-right: 10px
    p
      color: $light-gray

// workshops
.events, .tools
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  margin-bottom: -2%
  .event, .tool
    margin-bottom: 2%
    background: $teal
    p
      display: flex
      flex-direction: column
      align-items: left
      color: $light-gray
      line-height: 1.75
      padding: 30px
      margin: 0
      font-size: 25px

    .download
      margin-top: 15px
      font-size: $p-size
.workshops-info
  ul
    color: $dark-gray
    font-size: $p-size
    font-family: $open-sans
    font-weight: $regular-weight
    line-height: 30px
    list-style-type: none
    -webkit-padding-start: 0
    padding-inline-start: 0
    margin-bottom: $block-spacer

.downloads
  margin-bottom: $block-spacer
  column-count: 2
  a
    font-size: $p-size
    font-family: $open-sans
    font-weight: $regular-weight
    color: $dark-blue
    display: block
    margin-bottom: 10px
    span
      border-bottom: 2px solid $dark-blue

.noun
  display: block
  margin-bottom: $block-spacer*0.5
  font-size: $p-size*0.8
  font-family: $open-sans
  font-weight: $regular-weight
  color: $dark-gray

.triplets
  width: 100%
  justify-content: center
  margin-top: 50px

  section
    text-align: left

    svg
      width: 120px
      path, polygon
        fill: $dark-blue !important

    p
      font-size: $small-size
      text-align: left
