---
layout: default
---

<div class="hero centered-text" id="about">
  <h1 class="post-title dark-color">{{ page.title1 }}</h1>
  <div class="triplets">
    <section class="nesta">
      <img class="svg" src="/assets/nesta.svg" alt="nesta">
      <p>
        Nesta is a global innovation foundation. It backs new ideas
        to tackle the big challenges of our time. Nesta uses its knowledge, networks, funding and skills - working in partnership with others, including governments, businesses and charities. Nesta is a UK charity that works all over the world, supported by a financial endowment.
        <br>
        <br>
        <a href="www.nesta.org.uk" target="_blank">nesta.org.uk</a>
      </p>
    </section>
    <section class="waag">
      <img class="svg" src="/assets/waag.svg" alt="nesta">
      <p>
        <p>
          Waag Society — the institute for art, science and technology — is a pioneer in the  eld of digital media. Over the past 22 years, the foundation has developed into an institution of international stature, a platform for artistic research and experimentation, and has become both a catalyst for events and a breeding ground for cultural and social innovation.
          Waag Society explores emerging tech- nologies, and provides art and culture with a central role in the designing of new applications for novel advances in science and technology.
          The organisation concerns itself not only with technologies related to the Internet, but also with those related to biotechnology and the cognitive sciences.
          <br>
          <br>
          <a href="www.waag.org" target="_blank">waag.org</a>
        </p>
      </p>
    </section>
    <section class="supsi">
      <img class="svg" src="/assets/supsi.svg" alt="nesta">
      <p>
        The Laboratory of Visual Culture (LCV) is the design research unit of SUPSI, the University of Applied Sciences and Arts of Southern Switzerland.
        The laboratory develops research on innovative learning models exploring the convergence of technology and design via prototyping and the integration of bottom-up and com- munity-driven approaches. LCV leads digital social innovation projects related to environmental sustainability and energy consumption, and international programs on interaction design, physical computing, open design and maker culture, DIY electronics, digital fabrication, data visualisation, interactive cinema and computational design.
        <br>
        <br>
        <a href="www.supsi.ch/lcv" target="_blank">www.supsi.ch/lcv</a>
      </p>
    </section>
  </div>
</div>
<div class="big-spacer"></div>
<div class="hero centered-text">
  <img class="svg" src="{{ page.image2 }}" alt="open-source">
  <h1 class="post-title dark-color">{{ page.title2 }}</h1>
  <div class="subtitle subhero">{{ page.subtitle2 }}</div>
  <button class="dark-button"><img src="../assets/github.svg" alt="">{{ page.button }}</button>
</div>
<div class="big-spacer"></div>
<div class="hero centered-text">
  <img class="svg" src="{{ page.image3 }}" alt="humans">
  <h1 class="post-title dark-color">{{ page.title3 }}</h1>
  <div class="subtitle subhero">{{ page.subtitle3 }}</div>
</div>
<div class="big-spacer"></div>
