---
layout: default
---

<div class="hero centered-text">
  <h1 class="post-title dark-color">{{ page.title1 }}</h1>
  <div class="subtitle subhero">{{ page.subtitle1 }}</div>
</div>
<div class="big-spacer"></div>
<div class="hero centered-text">
  <img class="svg" src="{{ page.image2 }}" alt="open-source">
  <h1 class="post-title dark-color">{{ page.title2 }}</h1>
  <div class="subtitle subhero">{{ page.subtitle2 }}</div>
  <button class="dark-button"><img src="../assets/github.svg" alt="">{{ page.button }}</button>
</div>
<div class="big-spacer"></div>
<div class="hero centered-text">
  <img class="svg" src="{{ page.image3 }}" alt="humans">
  <h1 class="post-title dark-color">{{ page.title3 }}</h1>
  <div class="subtitle subhero">{{ page.subtitle3 }}</div>
</div>
<div class="big-spacer"></div>
