<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="all">
      {% include light-header.html %}
        <div class="hero centered-text gradient-hero">
          <div class="content">
            <h1 class="post-title">{{ page.hero }}</h1>
            <div class="subtitle ">{{ page.subtitle }}</div>
            <button>Explore the toolkit</button>
          </div>
        </div>
        <div class="page-content">
        <div class="high-margin double-column">
          <section>
            <h2>The DSI scale</h2>
            <p>
              Helps to assess the DSI growth considering sharing, openness and societal good.
            </p>
            <button>
              Build the DSI scale
            </button>
          </section>
          <section>
            <h2>Peer knowledge</h2>
            <p>
              Wanna help other digital social innovators to scale? Share your knowledge!
            </p>
            <button>
              Contribute
            </button>
          </section>
        </div>
        {{ content }}
      </div>
    </div>
    <!-- {% include footer.html %} -->
  </body>
</html>
