<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div id="all">
    {% include light-header.html %}
    <div class="hero centered-text" id="gradient-hero">
      <div class="content">
        <h1 class="post-title">{{ page.hero }}</h1>
        <div class="subtitle ">{{ page.subtitle }}</div>
        <a href="#page-content">
          <button>{{ page.hero-button }}</button>
        </a>
      </div>
    </div>
    <div id="page-content">
      <div class="double-column" id="high-margin">
        <section>
          <img class="svg" src="{{ page.left-image }}" alt="dsi scale">
          <h2>{{ page.left-title }}</h2>
          <p class="light">{{ page.left-p }}</p>
          <a href="{{ site.baseurl }}/scale">
            <button>{{ page.left-button }}</button>
          </a>
        </section>
        <section>
          <img class="svg" src="{{ page.right-image }}" alt="peer knowledge">
          <h2>{{ page.right-title }}</h2>
          <p class="light">{{ page.right-p }}</p>
          <a href="{{ site.baseurl }}/knowledge">
            <button>{{ page.right-button }}</button>
          </a>
        </section>
      </div>
    </div>
  </div>
  <div class="hero big-picture centered-text">
    <div class="content">
      <h1 class="post-title">{{ page.picture-title }}</h1>
      <div class="subtitle ">{{ page.picture-subtitle }}</div>
    </div>
    <div class="double-column">
      <section>
        <p>
          <strong>{{ page.left-ws }}</strong><br>
          <a href="{{ page.left-link }}">{{ page.left-link-text }}</a><br>
          {{ page.left-desc }}
        </p>
      </section>
      <section>
        <p>
          <strong>{{ page.right-ws }}</strong><br>
          <a href="{{ page.right-link }}">{{ page.right-link-text }}</a><br>
          {{ page.right-desc }}
        </p>
      </section>
    </div>
  </div>
  <div class="light-footer">
    {% include footer.html %}
  </div>
</body>
</html>
