---
layout: default
---

<div class="hero">
  <h1 class="post-title dark-color">{{ page.h1 }}</h1>
  <p class="subtitle subhero">{{ page.subtitle }}</p>
</div>

<div class="left-line-divider"></div>

<div class="questions">
  {% for question in page.questions %}
    <div class="question {% if forloop.first %}active{% endif %}">
      <h2 class="dark-color">{{ question.text }}</h2>
      {% if question.description %}
        <p class="long description">{{ question.description }}</p>
      {% endif %}
      <textarea onkeyup="auto_grow(this)" class="subtitle" type="text" placeholder="{{ question.placeholder }}"></textarea>
    </div>
  {% endfor %}
</div>

<button id="knowledge-send" class="block">Send →</button>
<div class="spinner" id="knowledge-spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
