---
layout: default
---

<div class="hero">
  <img src= "{{ page.imageURL }}" alt="">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="subtitle subhero">{{ page.subtitle }}</div>
  {% if page.button %}
    <button>{{ page.button }}</button>
  {% endif %}
</div>

<div class="big-line-divider"></div>

<div class="centered-text block">
  <h2>{{ page.h2 }}</h2>
  <p class="light">
    <a href="http://google.com">{{ page.submissions-link-text }}</a>
  </p>
</div>

<p class="centered-text tags">
  {% for tag in page.tags %}
    <a href="#">#{{ tag }}</a>
  {% endfor %}
</p>

<!-- {% include quotes.html %} -->

<div class="quotes">
  {% for quote in page.quotes %}
    <div class="container">
      <div class="quote">
        <p class="long">"{{ quote.text }}"</p>
        <div class="line-divider"></div>
        <p>{{ quote.name }}</p>
        <p class="epithet small light">{{ quote.epithet }}</p>
      </div>
    </div>
  {% endfor %}
</div>

<div class="block centered-text">
  <button>{{ page.bottom-button }}</button>
</div>
