---
layout: default
---

<div class="hero centered-text">
  <img class="svg" src="{{ page.imageURL }}" alt="humans">
  <h1 class="post-title dark-color">{{ page.title }}</h1>
  <div class="subtitle subhero">{{ page.subtitle }}</div>
  {% if page.button %}
    <a href="{{site.baseurl}}/input">
      <button>{{ page.button }}</button>
    </a>
  {% endif %}
</div>

<div class="big-line-divider"></div>

<div class="centered-text block">
  <h2 class="dark-color">{{ page.h2 }}</h2>
  <p class="light">
    <a href="https://github.com/DSI4EU/toolkit/issues" target="_blank">{{ page.submissions-link-text }}</a>
  </p>
</div>
<!-- TAG FILTERS
<p class="centered-text tags">
  {% for tag in page.tags %}
    <a href="#">#{{ tag }}</a>
  {% endfor %}
</p> -->

<div class="quotes">
  {% for quote in page.quotes %}
    <div class="container">
      <div class="quote centered-text">
        <p class="long">"{{ quote.text }}"</p>
        <div class="line-divider"></div>
        <p>{{ quote.name }}</p>
        <p class="epithet small light">{{ quote.epithet }}</p>
      </div>
    </div>
  {% endfor %}
</div>

<div class="block centered-text">
  <a href="{{site.baseurl}}/input">
    <button>{{ page.bottom-button }}</button>
  </a>
</div>
