---
layout: default
---

<div class="hero centered-text">
  <img class="svg" src="{{ page.imageURL }}" alt="humans">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="subtitle subhero">{{ page.subtitle }}</div>
</div>
<div class="big-line-divider"></div>

<div class="scale-content">
  {{ content }}
</div>

<br>
<br>
<a href="#scale-editor">
  <button>create your DSI scale</button>
</a>
<br>
<br>
<br>

<h2>{{ page.h2 }}</h2>

<div id="scale-editor" class="quotes">
  <textarea id="username" class="subtitle nameinput" type="text" placeholder="Name (optional)"></textarea>
</div>

{% include scale-cards.html %}
