---
layout: default
---

<div class="hero centered-text">
  <img class="svg" src="{{ page.imageURL }}" alt="humans">
  <h1 class="post-title dark-color">{{ page.title }}</h1>
  <div class="subtitle subhero">{{ page.subtitle }}</div>
  <a href="#scale-editor">
    <button>{{ page.button }}</button>
  </a>
</div>
<div class="big-line-divider"></div>

<div class="scale-content">
  {{ content }}
</div>

<h2 class="dark-color">{{ page.h2 }}</h2>

<div id="scale-editor" class="quotes">
  <textarea id="username" class="subtitle nameinput" type="text" placeholder="Name (optional)"></textarea>
</div>

{% include scale-cards.html %}
