mobileBreak = 700px

@font-face
 font-family Roboto-medium
 font-style normal
 src url(../fonts/RobotoMono-Medium.ttf)

@font-face
 font-family Roboto-regular
 font-style normal
 src url(../fonts/RobotoMono-Regular.ttf)

@font-face
 font-family Roboto-light
 font-style normal
 src url(../fonts/RobotoMono-Light.ttf)

h1,h2
  text-transform uppercase

h1
  font 64px Roboto-regular
  @media (max-width: mobileBreak)
    font 48px Roboto-regular

h2
  font 36px Roboto-regular
  margin-bottom 0
  @media (max-width: mobileBreak)
    font 33px Roboto-regular
h3
  font 18px Roboto-medium
  margin-bottom 0

p
  font 18px Roboto-regular
  line-height 31px
  margin-top 8px
  color black
  @media (max-width: mobileBreak)
    font 16px Roboto-regular
    line-height 28px

a
  color inherit
  text-decoration none
  border-bottom 2px solid black
  cursor crosshair

#content
  width 55%
  margin 50px 0 0 50px
  @media (max-width: 1024px)
    width 70%
  @media (max-width: mobileBreak)
    width 95%
    margin 0 auto

.tilde
  font 72px Roboto-light
  @media (max-width: mobileBreak)
    font 48px Roboto-light
  &::after
    content "~"
